<div id="Skills">
    <div class="bg-header">
        <p class="header-text"> Skills</p>
    </div>
</div>

<style>
    #Skills {
        background-color: #0A0B0C;
        height: 100vh;
        display: flex;
        align-items: left;
        justify-content: left;
    
    }
    .bg-header {
        margin-top:100px;
        width: 300px;
        height: 100px;
        background-color: #fd7f5e;
    }
    .header-text {
        font-family: 'Bebas Neue', sans-serif;
        font-weight: normal;
        margin: 0;
        color: white;
        font-size: 58px;
        letter-spacing: 2px;
        margin-left: 140px;
        margin-top: 15px;
    }
</style>