<div id="Projects">
    <div class="content-wrapper">
        <div class="header-row">
            <div class="bg-header">
                <p class="header-text">Projects</p>
            </div>
        </div>
        <div class="main-row">
            <p class="paragraph">Code. Deploy. Compose. I am a multi-disciplinary creative who builds digital experiences from scratch. I have successfully developed and published cross-platform games and web apps, managing the full product lifecycle. Simultaneously, I am a pianist and recording artist, bringing a rhythmic precision to my engineering work.</p>
        </div>
    </div>
</div>

<style>
    #Projects {
        background-color: #000;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 50px;
    }

    .content-wrapper {
        margin-bottom:600px;
    }

    .header-row {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    
    .main-row {
        align-items: center;
        justify-content: flex-start;
    }

    .bg-header {
        margin-top: 100px;
        width: fit-content;
        padding: 5px 40px;
        background-color: #fd7f5e;
        margin-bottom: 30px;
    }

    .header-text {
        font-family: 'Bebas Neue', sans-serif;
        font-weight: normal;
        margin: 0;
        color: white;
        font-size: 58px;
        letter-spacing: 2px;
    }

    .paragraph {
        font-family: 'Montserrat', sans-serif;
        color: white;
        line-height: 1.8;
        margin: 0;
        font-size: 16px;
    }
</style>